{% extends 'weights/base.html' %}
{% load crispy_forms_tags %}
{% load static %}

{% block title %}
    <title>Password Reset Request Page</title>
{% endblock title %}

{% block content %}
    <div>
        <form method='POST'>
            {% csrf_token %}
            <fieldset>
                <legend>Reset Password</legend>
                {{ form | crispy }}
            </fieldset>
            <button class="btn btn-outline-info" type='submit'>Request New Password</button>
        </form>
    </div>

{% endblock content %}


