{% extends 'weights/base.html' %}

<head>
    {% block title %}
        <title>Home Page</title>
    {% endblock title %}
</head>

{% block content %}
    <h1>Weights Home Page</h1>

    <button type="submit">Add Weight</button>

    <table class="table">
        <thead>
            <tr>
            <th scope="col"></th>
            <th scope="col">Username</th>
            <th scope="col">Weight</th>
            <th scope="col">Date</th>
            <th scope="col">Notes</th>
            </tr>
        </thead>
        <tbody>
            {% for weight in data %}
            <tr>
            <th scope="row">
                <img width='75' class="rounded-circle article-img" src="{{ weight.user.profile.image.url }}">
            </th>
            <td>{{ weight.user }}</th>
            <td>{{ weight.weight }}</td>
            <td>{{ weight.date_posted | date:"F d, Y"}}</td>
            {% comment %} <td>{{ weight.date_posted }}</td> {% endcomment %}
            <td>{{ weight.notes }}</td>
            </tr>
            {% endfor %}
        </tbody>
</table>
{% endblock content %}

