{% extends 'weights/base.html' %}
{% load crispy_forms_tags %}
{% load static %}

{% block title %}
    <title>Update Page</title>
{% endblock title %}

{% block content %}
    <div>
        <form method='POST'>
            {% csrf_token %}
            <fieldset>
                <legend>Enter Weight</legend>
                {{ form | crispy }}
            </fieldset>
            <button class='btn btn-outline-success' type='submit'>Save</button>
        </form>
    </div>

{% endblock content %}


