{% extends 'weights/base.html' %}

<head>
    {% block title %}
        <title>Post Detail Page</title>
    {% endblock title %}
</head>

{% block content %}
    <h1>Details Page</h1>

    <table class="table">
        <thead>
            <tr>
            <th scope="col"></th>
            <th scope="col">Username</th>
            <th scope="col">Weight</th>
            <th scope="col">Date</th>
            <th scope="col">Notes</th>
            </tr>
        </thead>
        <tbody>
            
            <tr>
            <th scope="row">
                <img width='75' class="rounded-circle article-img" src="{{ object.user.profile.image.url }}">
            </th>
            <td>{{ object.user }}</th>
            <td>{{ object.weight }}</td>
            <td>{{ object.date_posted | date:"F d, Y"}}</td>
            {% comment %} <td>{{ weight.date_posted }}</td> {% endcomment %}
            <td>{{ object.notes }}</td>
            </tr>
            {% if object.user == user %}
              <a class="btn btn-secondary btn-sm mt-1 mb-1" href="{% url 'post-update' object.id %}">Update</a>
              
            {% endif %}
            
        </tbody>
</table>
{% endblock content %}

